<div class="col-lg-5">

<%= form_for(@user, multipart: true) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :avatar %>
    <%= f.file_field :avatar, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :bio %>
    <%= f.text_area :bio, class: "form-control", rows: 7 %>
  </div>

  <% if @user.admin? %>
    <div class="field">
      <%= f.check_box :admin %>
      <%= f.label :admin %>
    </div>
  <% end %>
  
  <div class="actions">
    <%= f.submit "Update", class: "btn btn-default" %>
  </div>
<% end %>
  
</div>

<div class="col-lg-7">
  <label>Web Links</label>

  <% WebLink::SITES.each do |site| %>
    <%= render partial: "web_links/web_link", locals: {site:site, web_link: get_new_or_existing_web_link(site, @user)} %>
  <% end %>

  <label>Courses</label>  
  <ul id="courses">
    <% @user.courses.each do |course| %>
      <li>
        <%= course.name %>
      </li>
    <% end %>
  </ul>

  <%= form_tag user_users_courses_path(@user) do %>
    <div><label>Add Course</label></div>
    <div class="field col-lg-8">
      <%= text_field_tag 'course_code', nil, placeholder: 'Course Code', class: 'form-control' %>
    </div>

    <div class="col-lg-4">
      <%= submit_tag "Add", class: "btn btn-default" %>
    </div>
  <% end %>
</div>
