
  <h1 class="text-center"><%= @user.name %></h1>
  <br />
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="col-lg-3 col-md-3 col-sm-3">
            <%= image_tag @user.avatar.url(:thumb) %>
            <br /><br />
            
            <% if (sched_link = @user.get_web_link("Schedule")) %>
              <a href="<%= sched_link.try :url %>" target="_blank">
                <button class="btn btn-warning">Schedule Now</button>
              </a>
            <% end %>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-9">
            <% @web_link_names.each do |site| %>
              <% if site == "Website" %>`
                <%= link_to "<h4>Website Link</h4>".html_safe, @user.get_web_link(site).url if @user.get_web_link(site).present? %>
              <% else %>
                <%= link_to "<i class='fa fa-#{site.downcase} fa-2x'></i>".html_safe, @user.get_web_link(site).url if @user.get_web_link(site).present? %> &nbsp;
              <% end %>
            <% end %><br /><br />
            
            <p><small><%= "Last seen #{distance_of_time_in_words_to_now(@user.last_sign_in_at)} ago" %></small></p>

            <p><%= @user.bio %></p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          Submit Testimonial<br />
          <%= render partial: "testimonials/form", locals: { user_id: @user.id } %>
        </div><!-- col-lg-6 -->
      </div><!-- row -->
    </div><!-- container -->
  <hr>
<div class="container">
  <div class="row">
    <% @user.received_testimonials.each do |testy| %>
      <%= render testy %>
    <% end %>
  </div>
</div>